@import '~styles/colors';
:local
.message {
  display: flex;
  flex-shrink: 0;
  margin: 20px;

  &-inner {
    flex: 1;
    position: relative;
    margin-left: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: lighten($codgray, 10%);

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: -6px;
      top: 11px;
      border-right: 6px solid lighten($codgray, 10%);
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }
  &-username {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8em;
    color: lighten($codgray, 50%);
  }
}
